<div class="form-section">
  <div class="form-card">
    <h2>Add a Newsletter</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          [(ngModel)]="formData.title"
          name="title"
          placeholder="Enter the newsletter title"
          required
        />
      </div>

      <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input
          type="text"
          id="subtitle"
          [(ngModel)]="formData.subtitle"
          name="subtitle"
          placeholder="Enter the newsletter subtitle"
          required
        />
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          id="content"
          [(ngModel)]="formData.content"
          name="content"
          placeholder="Enter the newsletter content"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="publicationDate">Creation Date</label>
        <input
          type="date"
          id="publicationDate"
          [(ngModel)]="formData.publicationDate"
          name="publicationDate"
          required
        />
      </div>

      <!-- Section Géolocalisation -->
      <div class="geo-group">
        <button type="button" class="geo-btn" (click)="geolocalize()">Geolocate</button>
        <div class="coords">
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input
              type="text"
              id="longitude"
              [(ngModel)]="formData.longitude"
              name="longitude"
              placeholder="Ex: 2.3522"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input
              type="text"
              id="latitude"
              [(ngModel)]="formData.latitude"
              name="latitude"
              placeholder="Ex: 48.8566"
              readonly
            />
          </div>
        </div>
      </div>

      <button type="submit">Save</button>
    </form>
  </div>
</div>
