
    <section class="hero">
      <h1>Explore, learn and get inspired:</h1>
      <p>Discover captivating articles that enrich your everyday knowledge.</p>
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (keyup)="onSearchChange(searchTerm)"
          placeholder="Please enter the article title"
        />
        <button (click)="onSearchChange(searchTerm)">Search</button>
      </div>
    </section>

   

  

  

    <section *ngIf="searchResults.length === 0 && searchTerm.trim()" class="no-results">
      <p>No articles found for "{{ searchTerm }}".</p>
    </section>

    <!-- Map component -->
    <app-map [articles]="searchTerm.trim() ? searchResults : allArticles"></app-map>
  
 


