<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <h3>Journal-App</h3>
        <p>Discover captivating articles that enrich your everyday knowledge.</p>
      </div>
      
      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/helha.be/?locale=fr_FR" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://x.com/he_hainaut?lang=fr" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://be.linkedin.com/school/helha/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.instagram.com/helhabe/?hl=fr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Journal-App. All rights reserved.</p>
    </div>
  </footer>
  