.footer {
  background-color: #1e3c72;
  color: #ffffff;
  padding: 20px 0;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;  /* Aligne les éléments à gauche et à droite */

  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex: 1;
  min-width: 200px;
}

.footer-logo h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-social {
  flex: 1;
  min-width: 200px;
  text-align: right;  /* Aligne les éléments sociaux à droite */
}

.footer-social h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Aligne les icônes à droite */
  gap: 10px;
}

.social-icons a {
  color: #ffffff; /* Change la couleur des icônes */
  font-size: 1.5rem; /* Ajuste la taille des icônes */
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #162d50;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.8rem;
}
