<div *ngIf="newsletter; else loading">
  <div class="card">
    <div [style.background-color]="newsletter.backgroundColor" [style.text-align]="newsletter.textAlign">
      <h1>{{ newsletter.title }}</h1>
      <h2>{{ newsletter.subtitle }}</h2>
      <p>Publication Date: {{ newsletter.publicationDate | date:"MM/dd/yyyy" }}</p>

    
      <div class="section-article">
        <div class="article-card" *ngFor="let article of addedArticles">
          <h3>{{ article.title }}</h3>
          <p>{{ article.content }}</p>
          <button class="delete-btn" (click)="deleteArticle(article)" *ngIf="isButtonVisible">Delete from the newsletter</button>
        </div>
      </div>

 
      <button (click)="toggleArticleList()"*ngIf="isButtonVisible">Add an articl</button>

      
      <div *ngIf="showArticleList" class="article-list">
        <div class="article-item" *ngFor="let article of validArticles">
          <span>{{ article.title }}</span>
          <button class="add-btn" (click)="addArticleToNewsletter(article)">+</button>
        </div>
      </div>
      <div *ngIf="articleToConfirm" class="confirmation-box">
  <p>L'article "{{ articleToConfirm.title }}" est déjà lié à une autre newsletter. Voulez-vous quand même l'ajouter à cette newsletter ?</p>
  <button class="btn btn-success" (click)="confirmAddArticle(articleToConfirm)">Yes</button>
  <button class="btn btn-danger" (click)="cancelAddArticle()">No</button>
</div>
    </div>
  </div>
</div>



<ng-template #loading>
  <div class="card">
    <p>Loading...</p>
  </div>
</ng-template>
