* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
}

input[type="file"] {
    border: 1px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.file-upload label {
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
}

.file-upload p {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.valid {
    margin: 15px 0;
}

.valid label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="radio"] {
    margin-top: 5px;
}
