<br>
    <!-- Message d'authentification -->
    <div *ngIf="authMessageVisible" class="auth-message">
        <p>You need to log in to continue. Please login and try again.</p>
        <button (click)="authMessageVisible = false">Close</button><br>
    </div>

    <!-- MAP -->
    <div *ngIf="isMapVisible" id="map" class="topics2"></div>



    
                <!-- Détails de l'article -->
                <div *ngIf="isDetailsVisible" class="card article-details" [ngStyle]="{ 'background-color': selectedArticle?.backgroundColor || '#ffffff' }">
                    <div class="card-header">
                      <h3>{{ selectedArticle?.title }}</h3>
                      <strong><span class="badge">Newsletter {{ newsletterTitle }}</span></strong>
                    </div>
                    <div class="card-body">
                      <!-- Emplacement pour les images -->
                      <div *ngIf="images.length > 0; else noImages">
                        <div *ngFor="let image of images" class="image-container">
                          <img [src]="'data:image/png;base64,' + image.imagePath" [alt]="'Image for article ' + selectedArticle?.title" class="article-image" />
                        </div>
                      </div>
                      <ng-template #noImages>
                        <p>No images available for this article.</p>
                      </ng-template>
                  
                      <p>{{ selectedArticle?.content }}</p>
                      <p><strong>Author: </strong> {{ authorName }}</p>
                      Publish on: {{ selectedArticle?.publicationDate }}
                    </div>
                    <div class="card-footer">
                      <button (click)="toggleDetails()" class="btn btn-primary">
                        {{ isDetailsVisible ? 'Return to Map' : 'Show Details' }}
                      </button>
                      <button *ngIf="!selectedArticle?.read" (click)="markArticleAsRead(selectedArticle?.articleId)" class="btn btn-success">
                        Mark as Read
                      </button>
                      <button *ngIf="selectedArticle?.read" (click)="markArticleAsUnread(selectedArticle?.articleId)" class="btn btn-warning">
                        Mark as Unread
                      </button>
                      <button class="btn btn-primary" (click)="addCommet()">Make a Comment</button>
                    </div>
                    <div *ngIf="isCommentFormVisible" class="comment-form">
                      <h4>Add a Comment</h4>
                      <form (ngSubmit)="submitComment()">
                        <div class="form-group">
                          <label for="commentContent">Comment:</label>
                          <textarea id="commentContent" class="form-control" [(ngModel)]="newCommentContent" name="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit Comment</button>
                        <button type="button" class="btn btn-secondary" (click)="isCommentFormVisible = false">Cancel</button>
                      </form>
                    </div>

                    <button class="btn btn-primary" (click)="toggleComments()">
  {{ isCommentsVisible ? 'Hide Comments' : 'View Comments' }}
</button>

<!-- Liste des commentaires sous forme de cartes -->
<div *ngIf="isCommentsVisible" class="comments-list">
  <h4>All Comments</h4>
  
  <div *ngFor="let c of comments" class="comment-card">
    <div class="comment-header">
      <strong>{{ c.user?.firstName }} {{ c.user?.lastName }}</strong>
      <span class="comment-date">{{ c.publicationDate }}</span>
    </div>
    <div class="comment-content">
      {{ c.content }}
    </div>
  </div>
</div>
                  </div>
                  <!-- Bouton pour afficher/masquer la liste des commentaires -->


                 

                  <div id="map2"  *ngIf="isAuthenticated && (userRole === 'ADMIN' || userRole === 'JOURNALIST' || userRole === 'EDITOR')"><h3>Article already read</h3>
                    <table
                    class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Publication Date</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let article of readArticles; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content }}</td>
                        <td>{{ article.publicationDate }}</td>
                        <td> <button *ngIf="selectedArticle?.read" (click)="markArticleAsUnread(selectedArticle?.articleId)" class="btn btn-warning"> Mark as Unread</button></td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table></div>
                  

 
      




  